body { 
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center; 
    background-color: #1a1f38;
    color: white;
} 
input, select { 
    padding: 10px; 
    margin: 10px;
    width: 200px; 
} 
button:hover{
    opacity:0.8;
}